@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans:wght@300&display=swap');
@import url('react-responsive-carousel/lib/styles/carousel.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


table {
    border-collapse: collapse;
    border: 0.5px solid black;
    text-align: center;
    margin: auto;
  }

th, td {
    text-align: center;
    border: 0.5px solid black;
    padding: 6px 2px;
  }

  thead {
    background-color: #333;
    color: white;
  }

  a{
    color: rgb(32, 94, 202);
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }


  tbody td:first-child{
    padding: 6px;
  }